body{    
    margin: 0;
    line-height: 2;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1150px; 
    
    margin: 0 auto;
}


.header{
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.logo:hover{
    transform: scale(1.05);
}

.nav{
    font-size: 16px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    margin: 0 5px;
    
    color: white;
    text-decoration: none;
    border: 1.5px solid white;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    
    transition: color .4s linear;
}

.nav__link:hover{
    background: #fffaf0; /*#f8f8ff; /*white;*/
    color: black;
}

.selected{
    background: #fffaf0;
    color: black;
}


.intro{
    width: 100%;
    height: 100vh;
    
    background: url("../images/background/bmw_1.jpg") center no-repeat;
    background-size: cover;
    opacity: 1;
}

.intro__title{
    display: flex;
    align-content: center;
    
    font-size: 100px;
    max-width: 500px;
    line-height: 1;
    color: white;
    
    padding-top: 180px;
    padding-left: 370px;
}


.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}
 
.modalDialog > div {
    width: 185px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px;
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover{
    background: #00d9ff;
}


.authorization{
    text-align: center;
}

.sign__text{
    width: 173px;
    height: 20px;
    margin: 7px 0;
    padding: 0 5px;
    border: 1.2px solid black;
    border-radius: 2px;
}

.sign__text:focus{
    background: #00d9ff
}

.container__submit{
    text-align: center;
    margin: 8px 0 0 0;
}

.sign__sibmit{
    /*text-align: center;*/
    border-radius: 4px;
    color: black;
    height: 30px;
    width: 185px;
}

input[type=submit]:hover{
    background-color: #00d9ff;
}

.container__linkreg{
    text-align: center;
    margin: 15px 0 0 0;
}

.link__reg{
    font-size: 15px;
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.link__reg:hover{
    opacity: 1;
    text-decoration-line: underline;
}

.container__forgpass{
    text-align: center;
}

.forg__pass{
    font-size: 15px;
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.forg__pass:hover{
    opacity: 1;
    text-decoration-line: underline;
}


.middle{
    height: 2000px;
    background: #f8f8ff;
}

.middle__container{
    width: 100%;
    max-width: 1150px; 
    
    margin: 0 auto;
}

.middle__part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 20px;
    
    padding-top: 60px;
    padding-bottom: 50px;
}

.middle__text{
    max-width: 500px;
}

.middle__title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.title__logo{
    color: darkorange;
}